html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#bg {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dreapta {
  padding: 2px 2px 2px 2px;
  background-color: yellow;
  z-index: 4;
  right: 15px;
  position: absolute;
}

.fsus{
  top: 15px;
}

.fjos{
  bottom: 15px;
}

.text-dreapta {
  font-weight: bold;
  color: #0099ff;
  font-family: "Liberation Sans", Tahoma, Verdana, sans-serif;
  text-decoration: none;
  text-underline-offset: 1px;
  overflow-wrap: break-word;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dreapta {
  font-size: 26px;
}

@media all and (max-device-width: 720px) {
  .dreapta {
    font-size: 24px;
  }
}

@media all and (max-device-width: 640px) {
  .dreapta {
    font-size: 22px;
  }
}

@media all and (max-device-width: 320px) {
  .dreapta {
    font-size: 20px;
  }
}
